@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="@Url.Content("~/Content/css/estilosR.css")" />
}
<div id="Sotelo">
</div>


<div class="position-relative" style="height:100vh;">

    <div class="d-flex justify-content-center align-content-center">


        <div class="h-50 w-50 position-absolute" style=" margin-top: 20px; margin-left: 20px; background-color: rgba(186, 220, 88,1.0); border-radius:40px;">






        </div>


        <div class="h-50 w-50 position-absolute" style=" margin-top: 20px; margin-left: 20px; background-color: rgba(186, 220, 88,1.0); border-radius:40px;">

            <div class="" style="margin-top: 5vh; margin-left: 10vh; ">

                <div class="card" style=" background-color: rgba(39, 60, 117,1.0); border-radius:40px; ">
                    <div class="card-body p-5 w-100">


                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-center text-dark bg-light w-50 rounded-pill">

                                <h3 class="fs-3 card-title fw-bold">Contacto</h3>
                            </div>

                        </div>

                        
                            <div class="text-light" style="width:fit-content" >
                                <h5>Forma parte de nuestra satisfecha cartera de clientes</h5>
                                <h5>Responde el formulario y pronto nos pondremos en contacto</h5>
                            </div>
                            
                        

                        
                       


                        <form method="POST" autocomplete="off" class="text-light">
                            <div class="mb-3">
                                <label class="mb-2" for="nombre">Nombre</label>
                                <input id="nombre" type="text" class="form-control rounded-pill" name="nombre" value="" required autofocus>

                            </div>

                            <div class="mb-3">
                                <label class="mb-2" for="email">Email</label>
                                <input id="email" type="email" class="form-control rounded-pill" name="email" value="" required autofocus>

                            </div>

                            <div class="mb-3">
                                <label class="mb-2" for="email">Asunto</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripcion"></textarea>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="button"><i class="fa-solid fa-paper-plane"></i> Enviar</button>
                                </div>
                            </div>




                        </form>


                    </div>




            </div>



        
          

        





    </div>



     











    </div>
    </div>



</div>



       
        



    





 





