@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	<link rel="stylesheet" href="@Url.Content("~/Content/css/estilosR.css")" />
}

<style>
	ul.timeline {
		list-style-type: none;
		position: relative;
	}

		ul.timeline:before {
			content: ' ';
			background: #d4d9df;
			display: inline-block;
			position: absolute;
			left: 29px;
			width: 2px;
			height: 100%;
			z-index: 400;
		}

		ul.timeline > li {
			margin: 5em 0;
			/*padding-left: 20px;*/
		}

			ul.timeline > li:before {
				content: ' ';
				background: white;
				display: inline-block;
				position: absolute;
				border-radius: 50%;
				border: 3px solid #22c0e8;
				left: 20px;
				width: 20px;
				height: 20px;
				z-index: 400;
			}
</style>

<div id="Sotelo">

</div>


<div class="container-fluid text-center">
	<div id="Nosotros">
		<h1>ACERCA DE NOSOTROS </h1>
		<h2>Nos dedicamos principalmente al translado de materia prima para cemento a Nivel Nacional, cuidando la calidad del servicio, contando con operadores y personal capacitados</h2>
	</div>
</div>


<div class="container-fluid text-center text-light">
	<div id="mision">
		<h1 class="text-right">Misión</h1>
		<h2>Nos dedicamos principalmente al translado de materia prima para cemento a Nivel Nacional, cuidando la calidad del servicio, contando con operadores y personal capacitados</h2>
		<div class="px-5 mt-5 mx-3">
			<hr class="dropdown-divider">
		</div>
	</div>
</div>



<div class="container-fluid text-center text-dark">
	<div id="vision">
		<h1 class="text-left">Vision</h1>
		<h2>
			Ser líderes en el mercado de la industria de
			autotransporte de carga general, garantizando la
			calidad de tiempo y seguridad que genere un valor
			para nuestros clientes, junto con la tecnología en
			nuestros vehiculos
		</h2>
		<div class="px-5 mt-5 mx-3">
			<hr class="dropdown-divider">
		</div>
	</div>
</div>




<div class="text-center text-light" id="circulo">
	<div class="row align-items-center my-5">
		<div class="col text-dark" id="">
			<div id="borde">
				<div class="display-4" id="in-circulo">
					<p>25 años de experiencia</p>
				</div>
			</div>
		</div>
		<div class="col display-5">
            <h2>
                Ademas de una plantilla de mas de 70 empleados, comprometidos con nuestros clientes
            </h2>
			
		</div>
	</div>
	<div class="px-5 mt-5 mx-3">
		<hr class="dropdown-divider">
	</div>
</div>


<div class="container-fluid text-center my-1" id="seccion-seguridad">
	<div class="fs-2" id="seccion-seguridad">
		<h2>En materia de seguridad mantenemos a nuestros clientes satisfechos para que nos consideren como su mejor opcion y asi ser reconocidos como una empresa de servicio vanguardista y competitiva.</h2>
	</div>
	<div class="px-5 mt-5 mx-3">
		<hr class="dropdown-divider">
	</div>
</div>


<div class="container-fluid text-center text-light my-3" id="sedes">
	<div class="row">
		<div class="col-4">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12">
						<h1 class="display-3 text-center">Sedes</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8">
			<div class="container mt-5 mb-5">
				<div class="row">
					<div class="col-md-12">
						<ul class="timeline">
							<li>
								<h2 class="display-6">Cuautla, Morelos.</h2>
							</li>
							<li>
								<h2 class="display-6">Palo Gacho, Veracruz.</h2>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="px-5 mt-5 mx-3">
		<hr class="dropdown-divider">
	</div>
</div>

<div class="container-fluid text-center my-4">
	<div class="row">
		<div class="col">
			<img src="@Url.Content("~/Content/img/driver-7695071_1920.jpg")" class="figure-img img-fluid rounded" alt="..." id="recargado">
		</div>
		<div class="col fs-1">

            <h2>
                Actualmente trabajamos con empresas cementeras de renombre, prestando nuestros servicios a varios estados de la republica.
                Nuestras unidades se encuentran en perfecto estado, reflejado en un servicio de calidad y seguro.
            </h2>
			
		</div>
	</div>
</div>

@*<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Sotelo 2023</span>
		</div>
	</div>
</footer>*@