
@{
    ViewBag.Title = "Buzón";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Buzón</h2>


<div class="container d-flex justify-content-around">

    <div>

        <div class="z-0 position-absolute  p-5 rounded-3 bg-gradient-primary text-light" style="width:12vw; height:10vw;">


            <div class="z-n1 position-absolute p-5 rounded-3 bg-gradient-success" style="width:12vw; height:9vw;">
                <a class="d-flex justify-content-center nav-link text-light" href="@Url.Action("Nuevo","Buzon")">
                    <h3>Nuevo</h3>
                </a>

            </div>
        </div>


    </div>

    <div>

        <div class="z-0 position-absolute  p-5 rounded-3 bg-gradient-primary text-light" style="width:12vw; height:10vw;">


            <div class="z-n1 position-absolute p-5 rounded-3 bg-gradient-success" style="width:12vw; height:9vw;">
                <a class="nav-link  d-flex justify-content-center text-light" href="@Url.Action("Pendiente", "Buzon")">
                    @*<i class="fas fa-fw fa-home"></i>*@

                    <h3>Pendiente</h3>
                </a>

            </div>
        </div>


    </div>

    <div>

        <div class="z-0 position-absolute  p-5 rounded-3 bg-gradient-primary text-light" style="width:12vw; height:10vw;">


            <div class="z-n1 position-absolute p-5 rounded-3 bg-gradient-success" style="width:12vw; height:9vw;">
                <a class=" d-flex justify-content-center  nav-link text-light text-center " href="@Url.Action("Atendido", "Buzon")" >
                    @*<i class="fas fa-fw fa-home"></i>*@
                    
                        <h3> Atendido </h3>
                    
                    
                </a>

            </div>
        </div>


    </div>



</div>