
@{
    ViewBag.Title = "Buzón";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Buzón</h2>


<div class="container d-flex justify-content-around">

	<div>

		<div class="z-0 position-absolute  p-3 rounded text-light" style="width:12vw; height:10vw; background-color: #88A47C;">


			<div class="z-n1 d-flex justify-content-center align-items-center position-absolute p-3 rounded" style="width:12vw; height:9vw; background-color: #2B4865;">
				<a class="nav-link text-light" href="@Url.Action("Nuevo","Buzon")">
					<h3>Nuevo</h3>
				</a>

			</div>
		</div>


	</div>

	<div>

		<div class="z-0 position-absolute  p-3 rounded text-light" style="width:12vw; height:10vw; background-color: #88A47C;">


			<div class="z-n1 d-flex justify-content-center align-items-center position-absolute p-3 rounded" style="width:12vw; height:9vw; background-color: #2B4865;">
				<a class="nav-link text-light" href="@Url.Action("Pendiente", "Buzon")">
					@*<i class="fas fa-fw fa-home"></i>*@

					<h3>Pendiente</h3>
				</a>

			</div>
		</div>


	</div>

	<div>

		<div class="z-0 position-absolute  p-3 rounded text-light" style="width:12vw; height:10vw; background-color: #88A47C;">


			<div class="z-n1 d-flex justify-content-center align-items-center position-absolute p-3 rounded" style="width:12vw; height:9vw; background-color: #2B4865;">
				<a class=" d-flex nav-link text-light text-center " href="@Url.Action("Atendido", "Buzon")">
					@*<i class="fas fa-fw fa-home"></i>*@

					<h3> Atendido </h3>


				</a>

			</div>
		</div>


	</div>



</div>