
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Nuevos</h2>

<div class="d-flex justify-content-evenly">

    <div class="container  d-flex flex-column " >

        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder  " aria-hidden="true" style="margin:1vw;"></a>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder  " aria-hidden="true" style="margin:1vw;"></a>
        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder " aria-hidden="true" style="margin:1vw;"></a>
         <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder " aria-hidden="true" style="margin:1vw;"></a>



    </div>

    <div class="container d-flex flex-column justify-content-between bg-gradient-light" style="height:50vh;">
        
        <div class="d-flex justify-content-center">
            <h3 class="text-center bg-gradient-primary rounded-5 text-light" style="border-radius:20px; width:10vw;">Detalles</h3>
        </div>

        

        <div class="text-center">
            <a class="btn btn-success btn-sm rounded-pill">Atendido</a>
            <a class="btn btn-success btn-sm rounded-pill"">Pendiente</a>
        </div>
    </div>


</div>










